<br>
<br>

<div class="container">
  <h1>New Movie</h1>
  
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Name:</label>
        <input [(ngModel)]="movie.name" type="text" class="form-control" id="name" placeholder="Name">
      </div>
      <div class="form-group col-md-12">
          <label for="inputPassword4">Description</label>
          <textarea [(ngModel)]="movie.description" type="text" class="form-control" id="description" placeholder="Descripction"></textarea>
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Genre:</label>
        <input [(ngModel)]="movie.genre" type="text" class="form-control" id="genre" placeholder="Genre">
      </div>
      <div class="form-group col-md-4">
        <label for="inputEmail4">Year:</label>
        <input [(ngModel)]="movie.year" type="number" class="form-control" id="year" placeholder="Year">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Duration</label>
        <input [(ngModel)]="movie.duration" type="text" class="form-control" id="duration" placeholder="Duration">
      </div>
      




    </div>
    <button (click)="saveMovie()" class="btn btn-primary">Create</button>
</div>
