<br>
<br>

<div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Genre</th>
        <th scope="col">Year</th>
        <th scope="col">Duration</th>
        <th scope="col"></th>
        <th scope="col"></th>



      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of movies">
        <th scope="row">{{m.id}}</th>
        <td>{{m.name}}</td>
        <td>{{m.genre}}</td>
        <td>{{m.year}}</td>
        <td>{{m.duration}}</td>
        <td><a routerLink="/form/{{ m.id }}" class="btn btn-success btn-sm">Ver/Editar</a>
        </td>
        <td><a (click)="delete(m.id)" class="btn btn-danger btn-sm">Eliminar</a>
        </td>

      </tr>
    </tbody>
  </table>
  
  
</div>